<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541149552427-lti4futev1lj91nik1un3jej7iv3sc8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541149552427-lti4futev1lj91nik1un3jej7iv3sc8r</string>
	<key>API_KEY</key>
	<string>AIzaSyBjN_-znXup6bbxt02LJ1aFKhpRLLxBpGA</string>
	<key>GCM_SENDER_ID</key>
	<string>541149552427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findADentalClinic</string>
	<key>PROJECT_ID</key>
	<string>find-a-dental-clinic</string>
	<key>STORAGE_BUCKET</key>
	<string>find-a-dental-clinic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541149552427:ios:de32b93139de0f4265ef6e</string>
</dict>
</plist>